body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: "VT323", monospace;
}

body,
.snake {
  background-color: #414141;
}

#gameBoard {
  border-radius: 100px;
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
}

.gameBoard1 {
  border: #595f43 solid 10px;
  border-radius: 30px;
  box-shadow: inset 0 0 0 10px #595f43;
}

.gameBoard2 {
  border: #abb78a solid 8px;
  border-radius: 26px;
  box-shadow: inset 0 0 0 10px #abb78a;
}

.gameBoard3 {
  border: #8b966c solid 30px;
  border-radius: 20px;
  box-shadow: inset 0 0 0 10px #8b966c;
}

#intructionText {
  position: absolute;
  top: 60%;
  color: #333;
  width: 300px;
  text-align: center;
  text-transform: capitalize;
  padding: 30px;
  margin: 0px;
}

.scores {
  display: flex;
  justify-content: space-between;
}

#score {
  color: #abb78a;
}

#score,
#highScore {
  font-size: 40px;
  font-weight: bolder;
  margin: 10px 0px;
}

#highScore {
  color: #d8ddca;
  display: none;
}

.gameBoard3, 
#logo {
    background-color: #c4cfa3;
}

#snake {
    border: #5a5a5a 1px dotted;
}

.food {
    background-color: #dedede;
    border: #999 5px solid;
}

img {
    width: 200px;
}

#logo {
    position: absolute;
}